.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


/* style the chat room */
main {
  padding: 5px;
  height: 20vh;
  margin: 1vh 0 5vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 4vh;
  position: absolute;
  bottom: 0;
  background-color: rgb(223, 217, 217);
  width: 90%;

  display: flex;
  font-size: 1.5rem;
  margin-bottom: 2px;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}


input.chat_input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(218, 216, 216);
  color: rgb(17, 17, 17);
  outline: none;
  border: none;
  padding: 0 10px;
}

button.chat_button{
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button.chat_button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}






ul, li {
  text-align: left;
  list-style: none;
}

p.message_p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  
}

.message {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}
.chat_username{

  position: absolute;
  top:1;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}


.text_input {
  border-radius: 10%;
  border-width: 1px;
  border-color: #c2c8d4;
  border-style: solid;
  width : '80%';
  height : '100%';
}

.goal_field{
  height:'100px'; 
  line-height:'4';
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 150%;
}

